scipy
pandas
numpy
jupyter
simplenlg
pandas_datareader
matplotlib
nltk
stripe
jupyter_contrib_nbextensions
flask
flask-cors
flask-cachebuster
flask_assets
flask-talisman
stripe
pg8000==1.13.2
flask_sqlalchemy
cloudstorage
webapp2
apscheduler==3.3.1
google-cloud
google-cloud-storage
inflect==3.0.2
psycopg2
google-cloud-tasks
googleapis_common_protos
autopep8
python-datamuse